html,
body {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 589px;
    height: 589px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.board,
.row,
.cell {
    margin: 0;
    padding: 0;
}

.row {
    height: 31px;

    display: flex;
    justify-content: space-evenly;
}

.cell>img {
    width: 31px;
    height: 31px;
}

.corner {
    content: url("../image/board_corner__50_50.png");
}

.edge {
    content: url("../image/board_edge__50_50.png");
}

.inner {
    content: url("../image/board_inner__50_50.png");
}

.row:nth-child(4)>.inner:nth-child(4),
.row:nth-child(4)>.inner:nth-child(10),
.row:nth-child(4)>.inner:nth-child(16),
.row:nth-child(10)>.inner:nth-child(4),
.row:nth-child(10)>.inner:nth-child(10),
.row:nth-child(10)>.inner:nth-child(16),
.row:nth-child(16)>.inner:nth-child(4),
.row:nth-child(16)>.inner:nth-child(10),
.row:nth-child(16)>.inner:nth-child(16) {
    content: url("../image/board_inner_star__50_50.png");
}

.corner.top.right {
    transform: rotate(90deg);
}

.corner.bottom.left {
    transform: rotate(-90deg);
}

.corner.bottom.right {
    transform: rotate(180deg);
}

.edge.top {
    transform: rotate(90deg);
}

.edge.right {
    transform: rotate(180deg);
}

.edge.bottom {
    transform: rotate(-90deg);
}