html,
body {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 589px;
    height: 589px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.board,
.row,
.cell {
    margin: 0;
    padding: 0;
}

.row {
    height: 31px;

    display: flex;
    justify-content: space-evenly;
}

.cell>* {
    width: 31px;
    height: 31px;
}

.stone {
    position: absolute;
    z-index: 1;

    content: url("../image/stone_empty__50_50.png");
}

.stone.black {
    content: url("../image/stone_black__50_50.png");
}

.stone.white {
    content: url("../image/stone_white__50_50.png");
}

.stone.error {
    content: url("../image/stone_error__50_50.png");
}

.cell-bg.corner {
    content: url("../image/board_corner__50_50.png");
}

.cell-bg.edge {
    content: url("../image/board_edge__50_50.png");
}

.cell-bg.inner {
    content: url("../image/board_inner__50_50.png");
}

.row:nth-child(4)>.cell-bg.inner:nth-child(4),
.row:nth-child(4)>.cell-bg.inner:nth-child(10),
.row:nth-child(4)>.cell-bg.inner:nth-child(16),
.row:nth-child(10)>.cell-bg.inner:nth-child(4),
.row:nth-child(10)>.cell-bg.inner:nth-child(10),
.row:nth-child(10)>.cell-bg.inner:nth-child(16),
.row:nth-child(16)>.cell-bg.inner:nth-child(4),
.row:nth-child(16)>.cell-bg.inner:nth-child(10),
.row:nth-child(16)>.cell-bg.inner:nth-child(16) {
    content: url("../image/board_inner_star__50_50.png");
}

.corner.top.right {
    transform: rotate(90deg);
}

.corner.bottom.left {
    transform: rotate(-90deg);
}

.corner.bottom.right {
    transform: rotate(180deg);
}

.edge.top {
    transform: rotate(90deg);
}

.edge.right {
    transform: rotate(180deg);
}

.edge.bottom {
    transform: rotate(-90deg);
}